node-red-on-rpi/get-temperature.json
[{"id":"d6fbccfe.08023","type":"inject","z":"c9b87471.40c148","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":219.75,"y":187.25000286102295,"wires":[["bb24a5c6.5c6d38"]]},{"id":"a824066b.f70f28","type":"exec","z":"c9b87471.40c148","command":"vcgencmd","addpay":false,"append":"measure_temp","useSpawn":"","timer":"","name":"getCPUtemp","x":296.75,"y":284.75000286102295,"wires":[[],[],[]]},{"id":"4d036bd2.252adc","type":"debug","z":"c9b87471.40c148","name":"","active":false,"console":"false","complete":"true","x":705.75,"y":185.75000286102295,"wires":[]},{"id":"7921d0bf.74d438","type":"function","z":"c9b87471.40c148","name":"msg.payload","func":"msg.payload = {\"d\":{\"temp\":msg.payload.replace(\"temp=\",\"\").replace(\"'C\\n\",\"\")}};\nreturn msg;","outputs":1,"noerr":0,"x":486.75,"y":372.25000286102295,"wires":[["4d036bd2.252adc","b6494934.0c05"]]},{"id":"b6494934.0c05","type":"wiotp out","z":"c9b87471.40c148","authType":"d","qs":"true","qsDeviceId":"kks2017iotlab1","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":713.75,"y":331.75000286102295,"wires":[]},{"id":"bb24a5c6.5c6d38","type":"rpi-dht22","z":"c9b87471.40c148","name":"","topic":"rpi-dht11","dht":"11","pintype":"0","pin":4,"x":423.25,"y":147.75000286102295,"wires":[["4d036bd2.252adc","7921d0bf.74d438"]]}]