node-red-on-rpi/ios-command-handler.json
[{"id":"d0278469.501498","type":"switch","z":"b08ddf98.92022","name":"select command","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"cont","v":"1","vt":"str"},{"t":"cont","v":"2","vt":"str"},{"t":"else"}],"checkall":"false","outputs":4,"x":264,"y":250.57135009765625,"wires":[["6dbf4abe.58eaf4"],["a0ad3a52.a3cc88"],["901e3cce.85a49"],["6dbf4abe.58eaf4"]]},{"id":"a0ad3a52.a3cc88","type":"function","z":"b08ddf98.92022","name":"pass","func":"msg.payload = \"\\x80\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":518.2857055664062,"y":242.142822265625,"wires":[["2f34a5b7.91fd0a"]]},{"id":"2fa2d4b8.5e6f0c","type":"inject","z":"b08ddf98.92022","name":"inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":529.7857055664062,"y":182.92861938476562,"wires":[["a0ad3a52.a3cc88"]]},{"id":"2f34a5b7.91fd0a","type":"function","z":"b08ddf98.92022","name":"safe","func":"msg.payload = msg.payload + \"\\x83\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":704.5,"y":242.64285278320312,"wires":[["e2562380.c9e1"]]},{"id":"d63fcc23.eaacd","type":"inject","z":"b08ddf98.92022","name":"inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":715.857177734375,"y":180,"wires":[["e2562380.c9e1"]]},{"id":"e2562380.c9e1","type":"function","z":"b08ddf98.92022","name":"beep","func":"msg.payload = msg.payload + \"\\x8c\\x03\\x01\\x40\\x10\\x8d\\x03\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":853.1427001953125,"y":236.42849731445312,"wires":[["983e8c63.702cf","dde6c247.70247"]]},{"id":"983e8c63.702cf","type":"debug","z":"b08ddf98.92022","name":"","active":true,"console":"false","complete":"false","x":1043.5714111328125,"y":186.64285278320312,"wires":[]},{"id":"dde6c247.70247","type":"serial out","z":"b08ddf98.92022","name":"/dev/ttyUSB0","serial":"25889cd4.71d1b4","x":958.7144775390625,"y":383.642822265625,"wires":[]},{"id":"28215dbb.c15212","type":"inject","z":"b08ddf98.92022","name":"inj dock","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":526,"y":324.71429443359375,"wires":[["901e3cce.85a49"]]},{"id":"901e3cce.85a49","type":"function","z":"b08ddf98.92022","name":"dock","func":"msg.payload = msg.payload + \"\\x8f\";\nreturn msg;","outputs":1,"noerr":0,"x":521,"y":380.71429443359375,"wires":[["a8d0c1cf.6fe9a","dde6c247.70247"]]},{"id":"99f96e50.d6175","type":"wiotp in","z":"b08ddf98.92022","authType":"d","deviceKey":"4c5aced.39d0b3","deviceType":"","deviceId":"","command":"+","commandType":"g","qos":"0","name":"from iOS","x":76.5,"y":250.07135009765625,"wires":[["d0278469.501498"]]},{"id":"6dbf4abe.58eaf4","type":"debug","z":"b08ddf98.92022","name":"","active":true,"console":"false","complete":"false","x":552.5,"y":494.57135009765625,"wires":[]},{"id":"a8d0c1cf.6fe9a","type":"debug","z":"b08ddf98.92022","name":"","active":true,"console":"false","complete":"false","x":728,"y":326.57135009765625,"wires":[]},{"id":"25889cd4.71d1b4","type":"serial-port","z":"b08ddf98.92022","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"4c5aced.39d0b3","type":"wiotp-credentials","z":"","name":"","org":"oweys3","serverName":"oweys3.messaging.internetofthings.ibmcloud.com","devType":"RPI3","devId":"RaspberryPI3","keepalive":"60","cleansession":true,"tls":"","usetls":false}]