node-red-on-rpi/take-picture.json
[{"id":"7e56d2d5.14058c","type":"wiotp in","z":"92c73518.9b8c48","authType":"d","deviceKey":"db2cbc04.8b8c5","deviceType":"","deviceId":"","command":"takepic","commandType":"g","qos":"0","name":"","x":161.25000762939453,"y":334.41665840148926,"wires":[["c3c5b593.2108d8","fa876e0e.b51ce"]]},{"id":"c3c5b593.2108d8","type":"debug","z":"92c73518.9b8c48","name":"","active":false,"console":"false","complete":"true","x":269.25000762939453,"y":238.25000190734863,"wires":[]},{"id":"fa256594.86d878","type":"function","z":"92c73518.9b8c48","name":"take a pic","func":"node.log(\"entering\");\n    var encoding = \"png\";\n    var currTime = new Date().getTime();\n    // Using the current timestamp to ensure the uniquness of the picture\n    var pictureFilename = \"/home/pi/pictures/\" + currTime + \".\" + encoding;\n    var opts = {\n        mode: \"photo\",\n        encoding: encoding, \n        quality: 50,\n        width: 600,\n        height: 400,\n        output: pictureFilename,\n        timeout: 1};\n    // RaspiCam to create a camera object.\n    var camera = new context.global.RaspiCam( opts );\n\n    // Take a pic with RaspiCam\n    var process_id = camera.start( opts );\n\n    // Providing the above generated file name to the next nodes in a payload.\n    return {payload: pictureFilename,\n            filename: pictureFilename,\n            filedate: currTime};","outputs":1,"noerr":0,"x":324.41666412353516,"y":386.833345413208,"wires":[[]]},{"id":"f9d0868d.a8df28","type":"debug","z":"92c73518.9b8c48","name":"","active":false,"console":"false","complete":"false","x":487.00000762939453,"y":238.91665840148926,"wires":[]},{"id":"8a9dad17.c8fd9","type":"cloudant out","z":"92c73518.9b8c48","name":"","cloudant":"eda39e34.45e22","database":"pictures","service":"_ext_","payonly":true,"operation":"insert","x":973.2500076293945,"y":320.41665840148926,"wires":[]},{"id":"9086e806.6cf8e8","type":"function","z":"92c73518.9b8c48","name":"json","func":"var picId = msg.filename;\nvar picDate = msg.filedate;\nvar encoded = msg.payload;\nvar len = encoded.length;\n\n    data = {\n        \"fileName\":picId,\n        \"len\":len,\n        \"value\": \"data:image/png;base64,\" + msg.payload, \n        \"pic_date\" : picDate\n    }\n \nreturn [{payload:JSON.stringify(data)}, {payload: picId}];\n","outputs":1,"noerr":0,"x":819.2500076293945,"y":322.41665840148926,"wires":[["8a9dad17.c8fd9","7821d75d.51f8b8"]]},{"id":"6f6d92b1.0e011c","type":"exec","z":"92c73518.9b8c48","command":"base64 -w0","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":650.2500076293945,"y":334.91665840148926,"wires":[["9086e806.6cf8e8","38f2410e.d1cc5e"],[],[]]},{"id":"38f2410e.d1cc5e","type":"debug","z":"92c73518.9b8c48","name":"","active":true,"console":"false","complete":"false","x":721.2500076293945,"y":239.41665840148926,"wires":[]},{"id":"7821d75d.51f8b8","type":"debug","z":"92c73518.9b8c48","name":"","active":true,"console":"false","complete":"false","x":926.2500076293945,"y":238.41665840148926,"wires":[]},{"id":"2531283d.8d6968","type":"delay","z":"92c73518.9b8c48","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":489.25000762939453,"y":334.41665840148926,"wires":[["6f6d92b1.0e011c","3ce35d5e.de5002"]]},{"id":"3ce35d5e.de5002","type":"delay","z":"92c73518.9b8c48","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":649.5000076293945,"y":437.5833148956299,"wires":[["9ebcc20.0fcb04"]]},{"id":"9ebcc20.0fcb04","type":"wiotp out","z":"92c73518.9b8c48","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"db2cbc04.8b8c5","deviceType":"","deviceId":"","event":"pictaken","format":"json","qos":"","name":"pic taken","x":828.8333206176758,"y":437.41665840148926,"wires":[]},{"id":"e597552f.18e5f8","type":"comment","z":"92c73518.9b8c48","name":"sending name of the file to bluemix","info":"","x":731.2500076293945,"y":388.41665840148926,"wires":[]},{"id":"fa876e0e.b51ce","type":"camerapi-takephoto","z":"92c73518.9b8c48","filemode":"2","filename":"/home/pi/pictures/","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","imageeffect":"none","name":"","x":328.75000762939453,"y":451.25000190734863,"wires":[["f9d0868d.a8df28","2531283d.8d6968"]]},{"id":"9f5dd0f8.dd8bd","type":"inject","z":"92c73518.9b8c48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":222.75000762939453,"y":530.2500019073486,"wires":[["fa876e0e.b51ce"]]},{"id":"db2cbc04.8b8c5","type":"wiotp-credentials","z":"92c73518.9b8c48","name":"","org":"oweys3","serverName":"oweys3.messaging.internetofthings.ibmcloud.com","devType":"RPI3","devId":"RaspberryPI3","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"eda39e34.45e22","type":"cloudant","z":"92c73518.9b8c48","host":"ab73cb00-8aa3-4e92-b22b-82bf3ca54758-bluemix.cloudant.com","name":"node red db"}]