node-red-on-iotp/receive-pic-taken.json
[{"id":"98c41ead.a7a7d","type":"ibmiot in","z":"f8160607.d17d18","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"RaspberryPI3","applicationId":"","deviceType":"RPI3","eventType":"pictaken","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":107,"y":348,"wires":[["8d1de1c4.f6c38","33d6cbc8.230a94"]]},{"id":"8d1de1c4.f6c38","type":"debug","z":"f8160607.d17d18","name":"","active":false,"console":"false","complete":"false","x":234,"y":267,"wires":[]},{"id":"f7b57dfb.f6cde","type":"cloudant in","z":"f8160607.d17d18","name":"get all docs","cloudant":"6cdaa430.dcb6dc","database":"pictures","service":"wdc-kksiot-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":478,"y":358,"wires":[["e38fa0eb.952d4","2912a271.6ef8de"]]},{"id":"e38fa0eb.952d4","type":"function","z":"f8160607.d17d18","name":"decode pic","func":"msg.payload = msg.payload[0];\nmsg.payload = msg.payload.value;\nmsg.payload = msg.payload.substring(22,msg.payload.length);\nmsg.payload = new Buffer(msg.payload, 'base64');\n\nreturn msg;","outputs":1,"noerr":0,"x":546,"y":183,"wires":[["aa14e37.8b50c2"]]},{"id":"aa14e37.8b50c2","type":"visual-recognition-v3","z":"f8160607.d17d18","name":"","apikey":"ec3be5cba45b168b3cd893039cbfc19c940bfd92","image-feature":"detectFaces","lang":"en","x":684,"y":276,"wires":[["60e54b6e.0fd8b4"]]},{"id":"60e54b6e.0fd8b4","type":"debug","z":"f8160607.d17d18","name":"","active":true,"console":"false","complete":"result","x":759,"y":171,"wires":[]},{"id":"33d6cbc8.230a94","type":"delay","z":"f8160607.d17d18","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":324,"y":419,"wires":[["f7b57dfb.f6cde"]]},{"id":"181ad482.43eccb","type":"comment","z":"f8160607.d17d18","name":"Receiving data from Raspberry Pi (name of the stored image in the DB)","info":"","x":294,"y":109,"wires":[]},{"id":"2912a271.6ef8de","type":"debug","z":"f8160607.d17d18","name":"","active":true,"console":"false","complete":"true","x":581,"y":415,"wires":[]},{"id":"6cdaa430.dcb6dc","type":"cloudant","z":"","host":"https://55c1cce6-4d39-462f-a53b-3466f6189752-bluemix:91f55d0decfeff55954762ed700c7d945b2ddca52992416fb2943d20fc26c2b2@55c1cce6-4d39-462f-a53b-3466f6189752-bluemix.cloudant.com","name":"cloudant"}]