node-red-on-iotp/send-cmd-to-rpi3.json
[{"id":"9609ba8b.3b6258","type":"ibmiot out","z":"5a1fec0.4f9dd14","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"RaspberryPI3","deviceType":"RPI3","eventCommandType":"takepic","format":"json","data":"","qos":"","name":"Send to RPi3","service":"registered","x":528.5,"y":310,"wires":[]},{"id":"eac4fc88.66f5e","type":"inject","z":"5a1fec0.4f9dd14","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":98.5,"y":310,"wires":[["f241ed25.bfde3"]]},{"id":"f241ed25.bfde3","type":"function","z":"5a1fec0.4f9dd14","name":"Device payload","func":"// Thermostat's location:\nvar longitude1 = -98.49;\nvar latitude1 = 29.42;\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"temp\" : temp1[counter1],\n        \"humidity\" : humidity1[counter1],\n        \"location\" :\n        {\n          \"longitude\" : longitude1,\n          \"latitude\" : latitude1\n        },\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":318.5,"y":310,"wires":[["9609ba8b.3b6258","4226c1c2.8bdae"]]},{"id":"4226c1c2.8bdae","type":"debug","z":"5a1fec0.4f9dd14","name":"Debug output payload","active":false,"console":"false","complete":"true","x":558.5,"y":370,"wires":[]},{"id":"21096455.074cec","type":"comment","z":"5a1fec0.4f9dd14","name":"1. Configure target","info":"","x":548.5,"y":270,"wires":[]},{"id":"fe585c3b.d9c49","type":"comment","z":"5a1fec0.4f9dd14","name":"2. Click to send data","info":"To automatically send data:\n1. Change *Repeat* to interval.\n2. Click Deploy button.\n","x":108.5,"y":350,"wires":[]},{"id":"cb37ca23.783c48","type":"comment","z":"5a1fec0.4f9dd14","name":"Injecting the data and sending them to Rapberry Pi","info":"","x":195,"y":202,"wires":[]}]